*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #1363DF;
}
button{
    height: 25px;
    padding: 4px;
    margin-left: 10px;
    background-color: #FF8C32;
}
.App {
    padding-top: 100px;
    margin: auto;
    width: 50%;
    padding-left: 200px;
}
.todo-form__input{
    height: 25px;
    width: 200px;
    padding: 4px;
    margin-bottom: 20px;
}
.todo-form__button{
    margin-left: 20px;
}
.todo-list__title{
    margin-right: 40px;
    color: white;
}